[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"

[dev-packages]
django = "*"
django-rest-framework = "*"
mysqlclient = "*"
django-taggit = "*"
djangorestframework-simplejwt = "*"
django-ckeditor = "*"
django-rest-passwordreset = "*"
beautifulsoup4 = "*"
drf-yasg = "*"
django-cors-headers = "*"

[requires]
python_version = "3.10"
